header {
  padding: 30px 40px 0px 40px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-link {
  color: var(--info-color);
  font-size: var(--size-19);
  font-weight: var(--title-weight);
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
.nav-link:hover {
  transition: 0.5s ease;
  color: var(--title-color);
  background-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav-link.activ:focus {
  background-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}